WTLABS/assignment3/dos.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

elementFormDefault="qualified">

<xs:element name="employee">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ID" type="xs:integer"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="sal" type="xs:integer"/>
      <xs:element name="des" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema> 